$brand-dark-theme-colors: () !default;
$brand-dark-code-bg: $code-bg !default;
$brand-dark-pre-color: $pre-color !default;
$brand-dark-pre-bg: $pre-bg !default;
$brand-dark-link-bg: null !default;

@if $brand-dark-theme-colors == () {
  @warn "Unbranded build: pass override = brand::pkgdown_override() to pkgdown.";
}

:root pre {
  background-color: $pre-bg;
}

.fa-github {
  color: $body-color !important;
}

:root[data-bs-theme="dark"] {
  @each $name, $color in $brand-dark-theme-colors {
    --#{$prefix}#{$name}: #{$color};
    --#{$prefix}#{$name}-rgb: #{to-rgb($color)};
    --#{$prefix}#{$name}-text-emphasis: #{$color};
    --#{$prefix}#{$name}-bg-subtle: #{shade-color($color, 80%)};
    --#{$prefix}#{$name}-border-subtle: #{shade-color($color, 40%)};
  }

  @if $brand-dark-link-bg != null {
    --#{$prefix}link-bg: #{$brand-dark-link-bg};
  }

  code {
    background-color: $brand-dark-code-bg;
  }

  pre {
    color: $brand-dark-pre-color;
    background-color: $brand-dark-pre-bg;
  }
}
