.Rproj.user
inst/doc
**/.quarto/
docs
vignettes/_brand.yml
vignettes/fonts
website/_brand.yml
website/index.md
website/example.qmd
vignettes/*.typ
node_modules
playwright-report
test-results
.playwright

